* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #232323;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#canvas {
  background-color: #191919;
}

.score {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.menu {
  gap: 15px;
  padding: 5%;
  display: none;
  color: #ffffff;
  position: absolute;
  text-align: center;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
}

.button-play {
  background-color: #d1d1d1;
  font-size: 16px;
  font-weight: bold;
  color: #232323;
  border-radius: 5px;
  padding: 8px;
}