* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #232323;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#canvas {
  background-color: #191919;
}