* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #232323;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#canvas {
  background-color: #191919;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.score {
  color: #ffffff;
  font-size: clamp(10px, 2vw, 18px);
  font-weight: bold;
}

.score-value {
  font-size: clamp(16px, 3vw, 24px);
}

.menu {
  gap: 15px;
  padding: 5%;
  display: none;
  color: #ffffff;
  position: absolute;
  text-align: center;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  background-color: rgba(23, 23, 23, 0.84);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.menu-title {
  font-size: clamp(18px, 5vw, 28px);
  font-weight: bold;
}

.menu span {
  background-color: rgba(23, 23, 23, 0.84);
  font-size: clamp(14px, 4vw, 20px);
}

.button-play {
  background-color: #d1d1d1;
  font-size: clamp(14px, 4vw, 18px);
  font-weight: bold;
  color: #232323;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.button-play:hover {
  background-color: #ffffff;
}

.mobile-control {
  display: none;
  background-color: transparent;
  bottom: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 10;
}

.control-row {
  display: flex;
  background-color: transparent;
  justify-content: center;
  gap: 32px;
}

.btn-control {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  font-size: 0.5rem;
  font-weight: bold;
  color: #232323;
  background-color: #d1d1d1;
  box-shadow: 0 0 10px rgba(255,255,255,0.2);
  cursor: pointer;
  transition: all 0.15s ease;
}

.btn-control:active {
  transform: scale(0.9);
  background-color: #ffffff;
}

.column {
  flex-direction: column;
}

@media (max-width: 768px) {
  .mobile-control {
    display: flex;
  }
}

/* celular 360px a 480px */
/* tablet 600px a 768px */
/* desktop 1280px a 1920px */