* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #232323;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#canvas {
  background-color: #191919;
}

.score {
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}